:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-secondary-color: #f5f4fa;

  --logo-font: "Raleway", sans-serif;
  --basic-font: "Roboto", sans-serif;
}
/* main color #000000 */
/* secondary color   */
/* white #FFFFFF */
/* accent color #18A0FB */
/* secondary background color #F5F5F5 */

/*    styles dropping    */

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/*    global styles    */

body {
  color: var(--primary-text-color);
  background-color: var(--pimary-background-color);
  font-family: var(--basic-font);
}

/*   heading styles   */

h3 {
  color: var(--title-text-color);
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/*      HEADER      */

/*    logo    */

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.logo-web {
  color: var(--accent-color);
}

/*            NAV-BAR           */

.nav-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-button:hover,
.nav-button:focus {
  color: var(--accent-color);
}

/* nav-button CURRENT  */

.nav-button.current {
  color: var(--accent-color);
}

/* contact-bar*/
.contact-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-button:hover,
.contact-button:focus {
  color: var(--accent-color);
}

/*       HERO      */

/*   hero title   */
.hero-title {
  background-color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--background-color);
}

/*    hero button   */

.button.primary {
  /* Заказать услугу */

  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--background-color);
  background-color: var(--accent-color);

  /* bg */
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;

  cursor: pointer;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-text-color);
}

/*   ADVANTAGES  */

/* hidden title*/
.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  paragraph-titles  */
.p-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

/*   WHAT WE DO    */

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
/*    TEAM    */
.employee-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text-color);
}

/*        P    O    R    T    F    O     L     I     O    */

/* radio-buttons */

.category-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;

  color: var(--title-text-color);

  background: var(--background-secondary-color);
  border-radius: 4px;

  cursor: pointer;
}
.category-button:hover,
.category-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/*   E N D      O F       P O R T F O L I O     */

/*   FOOTER     */
.logo.footer-logo {
  color: var(--background-color);
  background-color: var(--title-text-color);
}
.address {
  color: var(--background-color);
  background-color: var(--title-text-color);
  font: var(--basic-font);
}
.contact {
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  font: var(--basic-font);
}
